@page "/counter"


<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>singleton count: @singleton.Value</p>
<p>transient count: @transient.Value</p>

<input type="number" @bind="currentCount" />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
