@page "/"


@*<p>Hello, @upercase(name)</p>*@
@*<button @onclick="@(()=>Console.WriteLine("i've clicked"))">ClickMe</button>*@
@*<button @onclick="@WriteInLog">ClickMe</button>*@
<div>
    <h3>Movie</h3>
    @*<MovieList Movies="movies">
            <NullTemplate>
                <span style="color:red">This is loading...</span>
            </NullTemplate>
            <EmptyTemplate>
                <span style="color:blue">No records found</span>
            </EmptyTemplate>

        </MovieList>*@
    <MovieList Movies="movies" />
</div>
<button @onclick="AddNewMovie">Add New Movie</button>

@*<div>
        <h3>Create Movie</h3>
       //arbitray parameter example direct
        <DummyTextbox @attributes="@(new Dictionary<string, object>() {
                                         { "placeholder", "new movie name2"},
                                         { "disabled", "true"},

                                     })" />
         //arbitray parameter example using code
        <DummyTextbox @attributes="dummytextbox" />
        //arbitray parameter example using direct
        <DummyTextbox placeholder="Movie name" />

    </div>*@

